C 900 1000 "SCL/SPI_SCK" 900 1000 0 0 60 0 R
X "PIN_TEXT" "SCL/SPI_SCK" 930 770 90 0.00 60 0 0 2 0 0 1 0 74
L 900 800 900 1000 -1 0
C 800 1000 "VDD" 800 1000 0 0 60 0 R
X "PIN_TEXT" "VDD" 830 770 90 0.00 60 0 0 2 0 0 1 0 74
L 800 800 800 1000 -1 0
C 700 1000 "NC_1" 700 1000 0 0 60 0 R
X "PIN_TEXT" "NC_1" 730 770 90 0.00 60 0 0 2 0 0 1 0 74
L 700 800 700 1000 -1 0
C 600 1000 "SPI_CS" 600 1000 0 0 60 0 R
X "PIN_TEXT" "SPI_CS" 630 770 90 0.00 60 0 0 2 0 0 1 0 74
L 600 800 600 1000 -1 0
C 0 0 "SPI_SDO" 0 0 0 0 60 0 L
X "PIN_TEXT" "SPI_SDO" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "NC_2" 0 -100 0 0 60 0 L
X "PIN_TEXT" "NC_2" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "NC_3" 0 -200 0 0 60 0 L
X "PIN_TEXT" "NC_3" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "NC_4" 0 -300 0 0 60 0 L
X "PIN_TEXT" "NC_4" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 600 -1000 "GND_1" 600 -1000 0 0 60 0 L
X "PIN_TEXT" "GND_1" 630 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -800 600 -1000 -1 0
C 700 -1000 "CAP" 700 -1000 0 0 60 0 L
X "PIN_TEXT" "CAP" 730 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -800 700 -1000 -1 0
C 800 -1000 "GND_2" 800 -1000 0 0 60 0 L
X "PIN_TEXT" "GND_2" 830 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -800 800 -1000 -1 0
C 900 -1000 "NC_5" 900 -1000 0 0 60 0 L
X "PIN_TEXT" "NC_5" 930 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 900 -800 900 -1000 -1 0
C 1600 -300 "VDDIO" 1600 -300 0 0 60 0 R
X "PIN_TEXT" "VDDIO" 1370 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -300 1600 -300 -1 0
C 1600 -200 "NC_6" 1600 -200 0 0 60 0 R
X "PIN_TEXT" "NC_6" 1370 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -200 1600 -200 -1 0
C 1600 -100 "INT" 1600 -100 0 0 60 0 R
X "PIN_TEXT" "INT" 1370 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -100 1600 -100 -1 0
C 1600 0 "SDA/SPI_SDI" 1600 0 0 0 60 0 R
X "PIN_TEXT" "SDA/SPI_SDI" 1370 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 0 1600 0 -1 0
L 200 800 1400 800 -1 0
L 1400 -800 1400 800 -1 0
L 1400 -800 200 -800 -1 0
L 200 800 200 -800 -1 0
P "$LOCATION" "?" 1450 970 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

